<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
	<context:component-scan base-package="constxiong.interview" />
	
	<bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interfaces" value="constxiong.interview.proxy.springaop.Apology" />
		<property name="target" ref="greetingImpl" />
		<property name="interfaceNames">
			<list>
				<value>greetingIntroAdvice</value>
			</list>
		</property>
		<property name="proxyTargetClass" value="true" />
	</bean>
	
	<bean id="greetingIntroAdvice" class="org.springframework.aop.support.DelegatePerTargetObjectIntroductionInterceptor">  
		    <constructor-arg index="0">  
		        <value>constxiong.interview.proxy.springaop.ApologyImpl</value>  
		    </constructor-arg>  
		    <constructor-arg index="1">  
		        <value>constxiong.interview.proxy.springaop.Apology</value>  
		    </constructor-arg>  
		</bean> 
	
</beans>