<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
	<context:component-scan base-package="constxiong.interview" />
	
	<!-- <bean id="bowl" class="constxiong.interview.inject.Bowl" /> -->
	
	<!-- <bean id="person" class="constxiong.interview.inject.Person">
		<property name="bowl" ref="bowl"></property>
	</bean> -->
	
	<!-- <bean id="person" class="constxiong.interview.inject.Person">
		<constructor-arg ref="bowl"></constructor-arg>
	</bean> -->
	
	<!-- <bean id="bowl" class="constxiong.interview.inject.BowlFactory" factory-method="getBowl"></bean> -->
	
	<bean id="bowl" class="constxiong.interview.inject.BowlFactory" factory-method="getBowl"></bean>
	
	<!-- <bean id="bowlFactory" class="constxiong.interview.inject.BowlFactory"></bean>
	<bean id="bowl" factory-bean="bowlFactory" factory-method="getBowl"></bean> -->
	
	<bean id="person" class="constxiong.interview.inject.Person">
		<property name="bowl" ref="bowl"></property>
	</bean>
	
</beans>